* {
    margin: 0;
    padding: 0;
}
*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    padding: 12px;
}

h1 {
    margin-bottom: 24px;
}

div.calculator {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 20px;
    height: 480px;
    width: 350px;
    border: 1px solid black;
    margin-left: 20px;
}

div.display {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 5px;
    border: 1px solid black;
}

div.display .calculation {
    text-align: right;
    font-size: 16px;
    height: 18px;
}

div.display .result {
    text-align: right;
    font-size: 25px;
}

div.buttons {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    align-content: space-between;
    gap: 10px;
}

button#zero{
    width: 66%;
    flex-grow: 1;
}

div.buttons button{
    width: 22%;
    height: 50px;
}

div.buttons button.operator {
    flex-grow: 0;
}

div.buttons button.function {
    flex-grow: 1;
}